@model FitnessCenterProject.Models.Musaitlik

@{
    ViewData["Title"] = "Müsaitlik Sil";
}

<h2>Müsaitlik Sil</h2>
<hr />

<div class="alert alert-danger">
    <strong>Dikkat!</strong> Bu müsaitliği silmek istediğinize emin misiniz?
</div>

<dl class="row">
    <dt class="col-sm-3">Antrenör</dt>
    <dd class="col-sm-9">@Model.Antrenor?.AdSoyad</dd>

    <dt class="col-sm-3">Tarih</dt>
    <dd class="col-sm-9">@Model.Tarih.ToShortDateString()</dd>

    <dt class="col-sm-3">Başlangıç</dt>
    <dd class="col-sm-9">@Model.BaslangicSaati</dd>

    <dt class="col-sm-3">Bitiş</dt>
    <dd class="col-sm-9">@Model.BitisSaati</dd>
</dl>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />

    <button type="submit" class="btn btn-danger">Sil</button>
    <a asp-action="Index" class="btn btn-secondary ms-2">Vazgeç</a>
</form>
