@{
    ViewData["Title"] = "Üye Paneli";
}

<div class="container mt-5">
    <h2 class="mb-4">Üye Paneli</h2>

    <div class="row">

        <div class="col-md-4">
            <div class="card shadow">
                <div class="card-body text-center">
                    <h5>Profilim</h5>
                    <p>Bilgilerini görüntüle</p>
                    <a class="btn btn-primary">Git</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card shadow">
                <div class="card-body text-center">
                    <h5>Randevularım</h5>
                    <p>Antrenman randevuları</p>
                    <a class="btn btn-primary">Git</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card shadow">
                <div class="card-body text-center">
                    <h5>Antrenörler</h5>
                    <p>Antrenörleri görüntüle</p>
                    <a class="btn btn-primary">Git</a>
                </div>
            </div>
        </div>

    </div>
</div>
