@model FitnessCenterProject.Models.LoginViewModel

@{
    ViewData["Title"] = "Giriş Yap";
}

<div class="row justify-content-center mt-5">
    <div class="col-md-4">
        

        <h3 class="text-center mb-4">Giriş Yap</h3>

        <form asp-action="Login" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="mb-3">
                <label class="form-label">E-Posta</label>
                <input asp-for="Email" class="form-control" />
            </div>

            <div class="mb-3">
                <label class="form-label">Şifre</label>
                <input asp-for="Password" class="form-control" />
            </div>

            @* <div class="mb-3 form-check">
                <input asp-for="RememberMe" class="form-check-input" />
                <label class="form-check-label">Beni Hatırla</label>
            </div> *@
            

            <button class="btn btn-primary w-100" type="submit">Giriş Yap</button>
        </form>

        <p class="text-center mt-3">
            Hesabın yok mu?
            <a asp-controller="Account" asp-action="SignUp">Kayıt Ol</a>
        </p>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
