@model FitnessCenterProject.Models.SignUpViewModel

<div class="row justify-content-center mt-5">
    <div class="col-md-4">

        <h3 class="text-center mb-4">Kayıt Ol</h3>

        <form asp-action="SignUp" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="mb-3">
                <label class="form-label">Ad</label>
                <input asp-for="Ad" class="form-control" />
            </div>

            <div class="mb-3">
                <label class="form-label">Soyad</label>
                <input asp-for="Soyad" class="form-control" />
            </div>

            <div class="mb-3">
                <label class="form-label">Telefon</label>
                <input asp-for="Telefon" class="form-control" />
            </div>

            <div class="mb-3">
                <label class="form-label">E-posta</label>
                <input asp-for="Email" class="form-control" />
            </div>

            <div class="mb-3">
                <label class="form-label">Şifre</label>
                <input asp-for="Password" class="form-control" />
            </div>

            <div class="mb-3">
                <label class="form-label">Şifre Tekrar</label>
                <input asp-for="ConfirmPassword" class="form-control" />
            </div>

            <button class="btn btn-success w-100" type="submit">Kayıt Ol</button>
        </form>

        <p class="text-center mt-3">
            Zaten hesabın var mı?
            <a asp-controller="Account" asp-action="Login">Giriş Yap</a>
        </p>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
